body{
	width: 700px;
  background-image:url("./images/gran-budapest-hotel.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
	color:white;
	font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
h2{
	color:whitesmoke;
	font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
form{
	border: 1px solid rosybrown;
	padding:10px;
	background-color:rosybrown;
}
p{
	width:400px;
	padding-left: 305px;
	text-align: left;
	vertical-align: top;
}
label.left{
	float: left;
	margin-left: -305px;
	font-weight:bold;
}
